<div class="menber_main">
  <div class="menber_left">
    <div class="menber_my"><a href="/mcenter">用户中心</a></div>
    <div class="menber_category1 top1">文章管理</div>
    <ul class="menber_category_ul">
      <li><a href="/post_new">发表文章</a></li>
      <li><a href="/post_list">文章列表</a></li>
      <li><a href="/cats">分类目录</a></li>
      <!--<li><a href="#">标签列表</a></li>-->
    </ul>
    <!--<div class="menber_category2 top2">页面管理</div>
    <ul class="menber_category_ul">
      <li><a href="#">新建页面</a></li>
      <li><a href="#">所有页面</a></li>
    </ul>-->
    <div class="menber_category3 top3">其他管理</div>
    <ul class="menber_category_ul">
      <li><a href="/config">系统设置</a></li>
      <li><a href="/logout">退出系统</a></li>
    </ul>
  </div>